.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  align-self: center;
}

.box {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.box input {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
}

.box button {
  width: 100px;
  height: 38px;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  background-color: #0c0c0c;
  border-radius: 10px;
}

.box button:hover {
  background-color: #3838ff;
}

.box button:active {
  background-color: gray;
}


.list-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}


.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}
.task-item input[type="checkbox"] {
  display: flex;
  margin-right: 10px;
  margin-left: -170px;  
}
.task-item span {
  flex-grow: 1;
  margin-right: 1px;  
}
.delete-button{
  margin-left: -150px;
}



